header{
    margin-bottom:15px;
}
.form-app{
    padding-bottom:1rem;
}
.form-app input[type='checkbox']{
    display:none;
}
.form-app input:not([type='checkbox']),
.form-app label,
.form-app select{
    width:100%;
    text-align:left;
    margin-bottom:10px;
}
.form-app input,
.form-app select{
    padding:10px 15px;
    border-radius:0.25rem;
}
.form-app input{
    border:silver 1px solid;
}
.form-app .helptext{
    display:none;
}
.form-app .errorlist{
    list-style: none;
    background:orange;
    padding:0.5rem;
    border-radius:0.25rem;
    font-size:0.75rem;
}
.form-app .errorlist + input{
    border-color:orange 
}

/*sticky footer*/
html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1 0 auto;
  }
  footer {
    flex-shrink: 0;
    background:#F8F9FA;
  }

/*menu*/
.nav-link.active{
    background:black;
    color:white !important;
}
