{% extends 'base/base.html' %}

{% block title %}{{page_title}}{% endblock %}

{% block content %}
<div class="row justify-content-center">
<form class="form-app col-sm-6" action="" method="POST">
    <h1 class="h5">Agregar Producto</h1>
    {% csrf_token %}
    {{ form }}
    <input type="hidden" value="{{ lista.id }}">
    <button class="btn btn-primary" type="submit">AGREGAR PRODUCTO</button>
</form>
</div>
{% endblock %}