{% extends 'base/base.html' %}

{% block title %}{{page_title}}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <form class="form-app col-sm-6" action="{% url 'listacomprasapp:agregar_lista' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <div>
            <button class="btn btn-primary" type="submit">Agregar Lista</button>
        </div>
    </form>
</div>
{% endblock %}