{% extends 'base/base.html' %}

{% block title %}{{page_title}}{% endblock %}

{% block content %}
{{tienda}}

<div class="row justify-content-center">
    
    <form class="form-app col-sm-6 d-none" id="nueva-sucursal" method="POST">
            <h1 class="h5">Agregar sucursal para {%for t in tiendas%}{{t.nombre}}{%endfor%}</h1>
        {% csrf_token %}
        {{ form }}
        <div>
            <button class="btn btn-primary" type="submit">Agregar Sucursal</button>
        </div>
    </form>
    <script>
        $(document).ready(function(){
            
            $("label[for='id_sucursal_fisica']").html("<i class='far fa-square'></i> Tienda Física");
            $("#id_comuna").hide();
            $("label[for='id_comuna']").hide();
            $("label[for='id_direccion']").text('Web');
            $("#id_direccion").attr("type", 'url');
            
            $(".form-app").removeClass('d-none');
            
            $("#id_sucursal_fisica").on("change", function(){
                if($(this).is(":checked")){
                    $("label[for='id_sucursal_fisica']").html("<i class='far fa-check-square'></i> Tienda Física");
                    $("#id_comuna").show();
                    $("label[for='id_comuna']").show();
                    $("label[for='id_direccion']").text('Dirección');
                    $("#id_direccion").attr("type", 'text');
                }else{
                    $("label[for='id_sucursal_fisica']").html("<i class='far fa-square'></i> Tienda Física");
                    $("#id_comuna").hide();
                    $("label[for='id_comuna']").hide();
                    $("label[for='id_direccion']").text('Web').attr("type", 'url');
                    $("#id_direccion").attr("type", 'text');
                }
                
            })
        })
    </script>
</div>
{% endblock %}