{% extends 'base/base.html' %}

{% block title %}{{page_title}}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-6">
        <h1>{{producto.nombre}}</h1>
        <p>Costo Presupuestado: {{producto.costo_presupuestado}}</p>
        <form class="form-app" action="{% url 'listacomprasapp:comprar_producto' id_producto=producto.id %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-primary" type="submit">COMPRAR</button>
        </form>
    </div>
</div>


{% endblock %}