
{% extends 'base/base.html' %}
{%load humanize%}
{% block title %}{{page_title}}{% endblock %}

{% block content %}
{% if total_costo_presupuestado < total_costo_real %}
<div class="alert alert-danger" role="alert">
    Costo Real es mayor al Costo estimado
</div>
{% endif %}

<div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
        <div class="row">
            <h1 class="col-12 h5">
                {%for l in lista%}{{l.nombre}}{%endfor%}
                <span class="badge badge-dark">{{productos|length}}</span>
            </h1>
            <div class="col-sm-6">
                    <a href="#" class="badge badge-primary">{{productos_comprados}}</a> comprados
            </div>
            <div class="col-sm-6">
                    <a href="#" class="badge badge-primary">{{productos_pendientes}}</a> pendientes
            </div>
        </div>
        <a class="btn btn-primary" href="{% url 'listacomprasapp:agregar_producto' id_lista=id_lista %}">
                <i class="fas fa-archive"></i> Agregar Producto
            </a>
    </div>
    <ul class="list-group list-group-flush d-flex flex-column">
        {% for producto in productos %}
        {% if producto.estado == True %}
        <li class="list-group-item order-1">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h4 class="h5"> {{ producto.nombre }}</h4>
                    Estimado <i class="fas fa-dollar-sign"></i>{{producto.costo_presupuestado|intcomma}}
                </div>
                <div class="btn-group">
                    <a class="btn btn-success" href="{% url 'listacomprasapp:comprar_producto' id_producto=producto.id %}">
                        <i class="far fa-money-bill-alt"></i> COMPRAR
                    </a>
                    <a class="btn btn-danger" href="{% url 'listacomprasapp:eliminar_producto' id_producto=producto.id %}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        </li>
        {%else%}
        <li class="list-group-item order-2">
            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <h4 class="h5"><i class="fas fa-check"></i> {{ producto.nombre }}</h4>
                    <div class="row">
                        <div class="col-sm">
                            Estimado <i class="fas fa-dollar-sign"></i><strong>{{producto.costo_presupuestado|intcomma}}</strong>
                        </div>
                        <div class="col-sm">
                            Costo Real <i class="fas fa-dollar-sign"></i><strong>{{producto.costo_real|intcomma}}</strong>
                        </div>
                    </div>  
                </div>
                <div class="btn-group">
                    <a class="btn btn-warning" href="{% url 'listacomprasapp:comprar_producto' id_producto=producto.id %}">
                        <i class="fas fa-pen"></i> Editar Compra
                    </a>
                    <a class="btn btn-danger" href="{% url 'listacomprasapp:eliminar_producto' id_producto=producto.id %}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        </li>
        {% endif %}
        {% endfor %}
        <li class="list-group-item order-3">
            <div class="row text-right">
                <div class="col-sm-6">Total Estimado <i class="fas fa-dollar-sign"></i> <strong>{{total_costo_presupuestado|intcomma}}</strong></div>
                <div class="col-sm-6">Total Real<i class="fas fa-dollar-sign"></i><strong>{{total_costo_real|intcomma}}</strong></div>
        </li>
    </ul>
</div>


{% endblock %}