{% extends 'base/base.html' %}

{% block title %}{{page_title}}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    {% if user.is_authenticated %}
    <div class="col-sm-6">
    <!--logout-->
    <h1>
        <small class="text-muted">
            <i class="fas fa-user"></i>
        </small> 
        {{ user.get_username}} 
    </h1>
    {%if user.is_staff %}
        <div>
            <small class="badge badge-warning">
                <i class="fas fa-star"> </i> SU 
            </small>
        </div>    
    {%endif%}
    <p>{{user.email}}</p> 
        
    <form action="{% url 'listacomprasapp:cerrar_sesion' %}" method="POST">
        {% csrf_token %}
        
        <button class="btn btn-success" type="submit">Cerrar Sesion</button>
    </form>
</div>
    {% else %}
    <!-- INICIAR SESION -->
    <form class="form-app col-sm-6" action="{% url 'listacomprasapp:home' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <div class="row">
            <div class="col">
                {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
                <button type="submit" class="btn btn-primary" value="Login">INICIAR SESION</button>
                <a class="btn btn-link" href="{% url 'listacomprasapp:registro_usuario' %}">Registrarse</a>
            </div>
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}