{% extends 'base/base.html' %}

{% block title %}{{page_title}}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        {% if listas|length > 0 %}
        <div class="col-12">
            <!-- CONTENEDOR LISTAS -->
           
            <div class="d-flex justify-content-between mb-3">
                <h1 class="h4">Mis Listas <span class="badge badge-dark">{{listas|length}}</span></h1>
                <a class="btn btn-primary" href="{% url 'listacomprasapp:agregar_lista' %}">Agregar Lista</a>
            </div>

            <ul class="list-group">
                {% for lista in listas %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- ITEM LISTA -->
                        <a href="{% url 'listacomprasapp:detalle_lista' id_lista=lista.id %}">
                            <h2>{{ lista.nombre }}</h2>
                        </a>
                        <a class="btn btn-success" 
                        href="{% url 'listacomprasapp:agregar_producto' id_lista=lista.id %}">
                            Agregar Producto
                        </a>
                    </div> <!-- FIN ITEM LISTA -->
                </li>
                {% endfor %}
            </ul>
        </div> <!-- FIN CONTENEDOR LISTAS -->
        {% else %}
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">Hola</h1>
                <p>Aun no tienes ninguna lista creada, te invitamos a crear tu primera lista haciendo Clic en el "Crear
                    una nueva lista".</p>
                <a class="btn btn-primary" href="{% url 'listacomprasapp:agregar_lista' %}">Crear una Nueva Lista</a>

            </div>

        </div>
        {% endif %}
    </div>
</div>



{% endblock %}