{% extends 'base/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <form class="form-app col-sm-6" action="" method="post">
        <div class="col-12">
            {% csrf_token %}
            {{ form }}
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit" value="Signup">Registrarse</button>
            <a class="btn" href="/" value="Signup">Iniciar Sesión</a>
        </div>
    </form>
</div>
{% endblock %}