{% extends 'base/base.html' %}

{% block title %}{{page_title}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>
            {% for t in tienda %}{{t.nombre}}{%endfor%}
            {% if sucursales|length > 0 %}
                <span class="badge badge-dark">
                    {{sucursales|length}}
                </span>
            {%endif%}
        </h1>
            {% if sucursales|length > 0 and user.is_authenticated %}
            <a class="btn btn-primary" 
                href="{% url 'listacomprasapp:agregar_sucursal' id_tienda %}">Agregar Sucursal</a>
            {% endif %}
    </div>
    <div class="col-12">
        {% if sucursales|length > 0 and user.is_authenticated %}
            <ul class="list-group">
                {% for sucursal in sucursales %}
                    <li class="list-group-item"> 
                        <div>  
                            <p>
                            {% if sucursal.sucursal_fisica == True %}
                                {{sucursal.nombre}} 
                                <i class="fas fa-map-marker-alt"></i>
                                {{sucursal.direccion}}, {{sucursal.comuna}}
                            {% else %}
                                {{sucursal.nombre}} 
                                <i class="fas fa-globe-americas"></i>
                                {{sucursal.direccion}}
                            {% endif %}   
                            </p>
                            
                
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="jumbotron">
                {% if user.is_authenticated %}
                <h1 class="display-4">Aun no tienes sucursales</h1>
                
                <p class="lead">
                        <a class="btn btn-primary" 
                        href="{% url 'listacomprasapp:agregar_sucursal' id_tienda %}">Agregar Sucursal</a>
                </p>
                {%else%}
                <h1 class="display-4">Lo sentimos, aun no hay sucursales</h1>
                {% endif %}
              </div>
        {% endif %}
    </div>
</div>
{% endblock %}