{% extends 'base/base.html' %}

{% block title %}Tiendas{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 d-flex justify-content-between">
        <h1>Tiendas </h1>
        <div> 
            {% if user.is_authenticated %}  
        <a class="btn btn-primary" href="{% url 'listacomprasapp:agregar_tienda' %}">Agregar Tienda</a>
        {% endif %}
    </div>
    </div>
    <div class="col-12">
        <ul class="list-group">
            {% for tienda in tiendas %}
            <li class="list-group-item">
                <h4>{{tienda.nombre}}
                    {% if user.is_authenticated %}
                    {%  if tienda.estado == True %}
                        <span class="badge badge-dark">
                            <i class="fas fa-check"></i> Aprobado
                        </span>
                    {% else %}
                        <span class="badge badge-danger">Pendiente de aprobación</span>
                    {% endif %}
                    {%endif%}
                </h4>
                {% if tienda.estado %}
                <a  class="btn btn-success" 
                    href="{% url 'listacomprasapp:sucursales' id_tienda=tienda.id %}">
                    <i class="fas fa-store"></i> Ver Sucursales
                </a>  
                {%endif%}


                {% if user.is_staff %}
                    {% if tienda.estado == False %}
                       <a class="btn btn-info" href="{% url 'listacomprasapp:aprobar_tienda' id_tienda=tienda.id %}">
                           Aprobar Tienda
                        </a>
                    {% endif %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>


    </div>
</div>
<br><br>

{% endblock %}