{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/api.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

</head>

<body>
    <div class="content">
        <header>
            <nav class="navbar py-0 navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/"><i class="fas fa-bug"></i> Bichito</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if '/tiendas/' in request.path %}active{%endif%} " href="{% url 'listacomprasapp:tiendas' %}"><i
                                    class="fas fa-store"></i> Tiendas</a>
                        </li>

                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% if '/listas/' in request.path %}active{%endif%} " href="{% url 'listacomprasapp:listas' %}"><i
                                    class="fas fa-clipboard-list"></i> Mis Listas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/' %}active{%endif%}" href="{% url 'listacomprasapp:home' %}"><i
                                    class="fas fa-user-alt"></i> mi cuenta</a>
                        </li>
                        {%else%}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/registro_usuario/' %}active{%endif%}" href="{% url 'listacomprasapp:registro_usuario' %}">
                                <i class="fas fa-user-alt"></i> Registrate
                            </a>
                        </li>
                        {%endif%}
                    </ul>
                </div>
            </nav>
        </header>
        <main class="container">
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer class="py-5">
        <aside class="container">
        <div class="row">
            <div class="col-12">
                <h4>Indicadores Economicos</h4>
            </div>
            <div class="col-sm-4">
                <i class="fas fa-dollar-sign"></i> <span class="dolar"></span>
            </div>
            <div class="col-sm-4">
                <i class="fas fa-euro-sign"></i> <span class="euro"></span>
            </div>
            <div class="col-sm-4">
                <strong>UF:</strong> <span class="uf"></span>
            </div>
        </div>
        </aside>
    </footer>
</body>

</html>